    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2> About </h2>
                <p>
                  I graduated from Brown University in 2019 with a B.A. in mathematics, and have recently obtained a M.S. in mathematics from City College with a 3.99 GPA.
                  I have 5 years of experience in education, including advanced math enrichment such as graph theory, number theory, and game theory. Currently, I am pursuing a Ph.D. in mathematics at the CUNY Graduate Center.
                </p>
                <p>
                  I have a strong belief that students are already very capable, and that my job as a teacher is to make sure that students are able learn and grow to their fullest capabilities.
                  This means letting students figure out problems on their own and building their confidence to problem solve - which will naturally lead to stronger performance in exams and in class.
                </p>
            </div>
        </div>
    </section>
