    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <h2 class="intro-text">{{ site.description }}</h2>
                          <p>
                            Mathematics does not have to be a barrier for your academic success.
                          </p>
                          <p>
                            Our current education system has a strong emphasis on mathematics.
                            From standardized testing and AP courses to calculus prerequisites in college, having to excel in mathematics in order to pursue your academic dreams is essentially unavoidable.
                            I believe that I have the skills and experience to aid students in that process.
                          </p>

                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
