<style>
  table, th, td {
    border: 1.5px solid white;
    border-collapse: collapse;
    padding: 5px;
  }
  div {
    align-items: center
  }
  .center {
  margin-left: auto;
  margin-right: auto;
}
</style>

<section id="rates" class="content-section text-center">
    <div class="rates-section text-center">
        <div class="container">
          <h2>Rates</h2>
          <table class="center">
            <tr>
              <th>Subject Level</th>
              <th>Example Topics</th>
              <th>Rate ($/hr)</th>
            </tr>
            <tr>
              <td>Math Enrichment</td>
              <td>Combinatorics, Graph Theory, Logic Puzzles</td>
              <td>75</td>
            </tr>
            <tr>
              <td>Middle School Mathematics</td>
              <td>Pre-Algebra, Geometry</td>
              <td>80</td>
            </tr>
            <tr>
              <td>High School Mathematics</td>
              <td>Algebra, Trigonometry, Calculus</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Test Prep</td>
              <td>Reading, Writing, Math [SHSAT/SAT]</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Intro College Mathematics</td>
              <td>Calculus I, Calculus II, Calculus III</td>
              <td>125</td>
            </tr>
            <tr>
              <td>Upper Level College Mathematics</td>
              <td>Linear Algebra, Analysis, Group Theory, Topology</td>
              <td>150</td>
            </tr>
          </table>
        </div>
    </div>
</section>
