<section id="rates" class="content-section text-center">
    <div class="rates-section">
        <div class="container">
          <table>
            <tr>
              <td>Subject Level</td>
              <td>Example Topics</td>
              <td>Rate</td>
            </tr>
            <tr>
              <td>Middle School Mathematics</td>
              <td>Pre-Algebra, Geometry</td>
              <td>75</td>
            </tr>
            <tr>
              <td>High School Mathematics</td>
              <td>Algebra, Trigonometry, Calculus</td>
              <td>85</td>
            </tr>
            <tr>
              <td>Test Prep</td>
              <td>Reading, Writing, Math Sections</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Intro College Mathematics</td>
              <td>Calculus I, Calculus II, Calculus III</td>
              <td>125</td>
            </tr>
            <tr>
              <td>Upper Level College Mathematics</td>
              <td>Linear Algebra, Analysis, Group Theory, Topology</td>
              <td>150</td>
            </tr>
          </table>
        </div>
    </div>
</section>
